html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: auto;
    margin-bottom: 100px;
}


.pq{
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 35px;
}

/*form 2*/


.form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    background-color: rgb(240, 235, 235);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
    margin-top:30px;
  }
  
  .form .title {
    color: royalblue;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 90%;
    height: 50px;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 90%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
  }
  
  .form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
  }
      
/* form 2*/



  .feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .feed-form input {
    height: 54px;
    border-radius: 5px;
    background: rgb(238, 153, 153);
    margin-bottom: 15px;
    border: 1px solid white;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    color: #0e0c0c;
    
  }
  
  .button_submit:hover, .feed-form input:hover {
    transform: scale(1.009);
    box-shadow: 0px 0px 3px 0px #212529;
  }
  
  .button_submit {
    width: 100%;
    height: 54px;
    font-size: 14px;
    color: white;
    background: red;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .section_form{
     background-color: whitesmoke;
     
  }
  .address{
    text-align: center;
    font-size: 20px;
  }